*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Vedana",sans-serif;
}

.content{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7)80%, rgba(0,0,0,0.7)80%), url("cafe2.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
	background-attachment: fixed;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	height: 75px;
	margin: auto;
}

.logo{
	width: 200px;
	float: left;
	height: 70px;
}

.logo h2{
	font-size: 40px;
	color: yellow;
	float: left;
	padding-top: 20px;
    font-family: "Papyrus",fantasy;
    font-weight: 800;
}

.menu ul{
	list-style: none;
	width: 100%;
	
}

.menu li{
	position: relative;
	width: auto;
	margin-top: 30px;
}

.menu a{
	color: white;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: Arial;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.4s ease-in-out;
	padding: 20px 30px;
}

.menu ul li{
	display: inline-block;
}

.menu li:hover a{
	background: yellow;
	color: black;
    border-radius: 20px;
    margin: 0.5px;
}

.login{
	left: 36%;
	position: absolute;
	border: 2px solid yellow;
	padding: 50px 20px;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	background-color: transparent;
	backdrop-filter: blur(5px);
	border-radius: 20px;
	
}
.login h2{
	padding: 20px;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}
.input-box{
	margin-top: 20px;
}
.input-box input{
	background: transparent;
	border: 2px solid white;
	width: 350px;
	padding: 10px 20px;
	text-transform: uppercase;
	outline: none;
	color: white;
	border-radius: 10px;
}
.input-box input::placeholder{
	color: rgba(255,255,255,0.8);
}
.input-box input:hover{
	border: 2px solid skyblue;
    transition-duration: 1s;
}
.input-box input:focus{
	border: 2px solid skyblue;
}
.remember{
	margin-top: 25px;
}
.remember label{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 5px;
	font-size: 15px;
}
.remember a{
	margin-left: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 12px;
}
.remember a:hover{
	text-decoration: underline;
	color: skyblue;
}

.btn{
	margin-top: 40px;
	width: 350px;
	padding: 8px;
	border-radius: 10px;
	border: 2px solid white;
	text-transform: uppercase;
	color: white;
	background: transparent;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	transition: 0.5s;
}
.btn:hover{
	background: transparent;
	border: 2px solid skyblue;
}