*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins;
}

.content{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5)80%, rgba(0,0,0,0.5)80%), url("cafe5.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
	background-attachment: fixed;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	height: 75px;
	margin: auto;
}

.logo{
	width: 200px;
	float: left;
	height: 70px;
}

.logo h2{
	font-size: 40px;
	color: yellow;
	float: left;
	padding-top: 20px;
    font-family: "Papyrus",fantasy;
    font-weight: 800;
}

.menu ul{
	list-style: none;
	width: 100%;
	
}

.menu li{
	position: relative;
	width: auto;
	margin-top: 30px;
}

.menu a{
	color: white;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: Arial;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.4s ease-in-out;
	padding: 20px 30px;
}

.menu ul li{
	display: inline-block;
}

.menu li:hover a{
	background: yellow;
	color: black;
    border-radius: 20px;
    margin: 0.5px;
}

.contact-us{
	margin: 70px auto;
	width: 80%;
    font-family: "Verdana",sans-serif;
}

.contact-box{
	background: transparent;
	display: flex;
	color: yellow;
    font-family: "Verdana",sans-serif
}

.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
	background-color: rgba(0,0,0,0.4);
	border: 2px solid yellow;
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
	margin-bottom: 6px;
	border-right: none;
}

.contact-left h3{
	color: white;
	font-size: 30px;
	margin-bottom: 30px;
    font-family: "Verdana",sans-serif;
	font-weight: 600;
	/* border-bottom: 1px solid skyblue; */
	padding-bottom: 2px;
}

.contact-right{
	flex-basis: 40%;
	padding: 40px;
	background-color: rgba(0,0,0,0.4);
	border: 2px solid yellow;
	border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
	margin-bottom: 6px;
    font-family: "Verdana",sans-serif;
}

.contact-right h3{
	color: white;
	font-size: 30px;
	margin-bottom: 30px;
    font-family: "Verdana",sans-serif;
	font-weight: 600;
	/* border-bottom: 1px solid red; */
	padding-bottom: 2px;
}

.input-raw{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
    font-family: "Verdana",sans-serif;
}

.input-raw .input-group{
	flex-basis: 45%;
    font-family: "Verdana",sans-serif;
}

input{
	width: 100%;
	border: none;
	border-bottom: 2px solid white;
	background: transparent;
	outline: none;
	padding: 6px;
	color: white;
	transition: 0.5s ease-in-out;
    font-family: "Verdana",sans-serif;
}

input:hover,
input:focus{
	border-bottom: 2px solid #ff7200;
}

textarea{
	width: 100%;
	border: 2px solid white;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
	background: transparent;
    border-radius: 10px;
	color: white;
	transition: 0.5s ease-in-out;
    font-family: "Verdana",sans-serif;
    resize: none;
}

textarea:hover,
textarea:focus{
	border: 2px solid #ff7200;
}

label{
	margin-bottom: 6px;
	display: block;
	color: skyblue;
    font-family: "Verdana",sans-serif;
    font-size: 15px;
}

.btn{
	margin-top: 20px;
	padding: 6px 50px;
	color: white;
	background: transparent;
	border: 2px solid white;
    font-family: "Verdana",sans-serif;
	border-radius: 25px;
	transition: 0.5s;
	text-transform: uppercase;
	cursor: pointer;
}

.btn:hover{
	border: 2px solid #ff7200;
}

tr td:first-child{
	padding-right: 20px;
	color: skyblue;
    font-family: "Verdana",sans-serif;
}

tr td{
	padding-top: 35px;
}

.contact-right table{
	color: white;
    font-family: "Verdana",sans-serif;
}